body {
  background-color: #0080ff;
  overflow-x: hidden;  /* يمنع الشريط الأفقي */
  overflow-y: auto;    /* يسمح بالتمرير العمودي */
}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.card {
  transform: scale(0.9);

}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}