.fixed-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  nav a {
    color: inherit;
    margin-right: 20px;
  }
  nav {
    transition: background-color 0.3s;
  }
  .card {
    transition: background-color 0.3s, color 0.3s;
    transform: scale(0.95);
  }
  .TIME {
    color: #129700;
  }